.ot_main{
    padding: 10px 10px;
    margin:10px 10px;
    display: inline-block;
    gap: 3;
}
.ot_main a{
    margin: 20px 20px;
}
.headings{
    font-style: italic;
    text-decoration: underline;
}

.imgs{
    border-radius: 50%;
}

@media screen and (max-width: 768px){
   .ot_main{
    display: block;
   }
   .ot_main a{
    margin: 0px;
}
}